## Setup

In [2]:
# load the packages
import requests
from bs4 import BeautifulSoup

In [3]:
base_site = "https://en.wikipedia.org/wiki/List_of_national_capitals_by_population"

In [4]:
# connect to webpage
r = requests.get(base_site)
r.status_code

200

In [5]:
# get the HTML content from the webpage
html = r.content

# Extracting tables with Beautiful Soup

In [6]:
# Let's see how extracting the tables would be done with conventional Beautiful Soup methods

In [7]:
# Create the soup
soup = BeautifulSoup(html, 'lxml')

In [8]:
# Tables are marked with the 'table' tag in HTML
soup.find_all("table");

In [9]:
# The main table on the page
table = soup.find_all("table")[1]
table;

In [10]:
# Recall:
# 'th' marks a column heading
# 'tr' marks a table row
# 'td' marks a table cell (inside a row)

In [11]:
# Extracting all rows
table.find_all('tr'); # Note that the first row contains the headings

In [12]:
# Inspecting the contents of first row
table.find_all('tr')[0].contents;

In [13]:
# The 'Capital' is the 6th element
table.find_all('tr')[0].contents[5]

In [14]:
# Extracting the 'Capital' column (the first element being the heading)
capitals = [row.contents[5].text for row in table.find_all('tr')]
capitals;

In [15]:
# This is only one column; we have to do the same for the rest

In [16]:
# At this point you probably realize how tedious this process is:

# First, we have to manually inspect the elements, to be able to scrape them
# Second, we have to repeat the same commands for every column
# Third, the data has 'lost' its initial tabular form, we have to reconstruct it manually

In [17]:
# There should be a better way

# Using Pandas to extract tables

In [18]:
import pandas as pd

In [19]:
# Pandas provides an extremely easy-to-use method for table extraction

# It actually uses Beautiful Soup in the background,
# performing all the operations we executed above automatically

In [20]:
# To extract all tables on a page, use pandas.read_html()
# It takes either raw HTML or the page URL as a parameter
tables = pd.read_html(base_site)

In [21]:
# It identifies all of the tables on the page and returns them as a list of dataframes
type(tables)

list

In [22]:
type(tables[0])

pandas.core.frame.DataFrame

In [23]:
# We can check to see that pandas found four tables on the webpage
len(tables)

4

In [24]:
# Getting the full main table is now straightforward
tables[1][:5]

,Rank,Country/Territory,Capital,Population,Year,% ofcountry'spopulation
0,1,China,Beijing,"21,542,000[1]",2010,1.5%
1,2,India,New Delhi,14200004,2011,1.05%
2,3,Japan,Tokyo,"13,929,286[2]",2017,11.03%
3,4,Democratic Republic of the Congo,Kinshasa,"12,691,000[3]",2017,14.9%
4,5,Russia,Moscow,"12,506,468[4]",2011,8.52%

In [25]:
# Notice that Pandas not only extracts all columns and headings,
# but also deals with missing data (as can be seen in the Iraq, 'Year' column)

In [26]:
# Getting the column headings
tables[1].columns

Index(['Rank', 'Country/Territory', 'Capital', 'Population', 'Year',
       '% ofcountry'spopulation'],
      dtype='object')

In [27]:
# Because of the way HTML is coded, there may be some messiness, which could require cleaning

In [28]:
# Similar to BeautifulSoup, we can add tag attributes as parameters
# This allows us to filter our search for tables
filtered_tables = pd.read_html(base_site, attrs = {"class": "navbox"})
filtered_tables

ValueError: No tables found

In [29]:
# Still a list, even though only one such table exist
len(filtered_tables)

NameError: name 'filtered_tables' is not defined

In [30]:
# As mentioned, we can also pass the retrieved HTML directly into the method (instead of URL)
pd.read_html(html, attrs = {"class": "wikitable sor table"});